*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* Equals to 10px as 62.5 % of 16px is 10px */
    font-size: 62.5%;

    @include responsive(tablet-landscape) {
        font-size: 56.25%;
    }

    @include responsive(tablet-portrait) {
        font-size: 50%;
    }

    @include responsive(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}